.player {
    display: flex;
    align-items: center;
    background-color: rgb(163, 163, 163);
    width: 300px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: auto;
        object-fit: cover;
        border-radius: 100%;

    }
}

.player-active{
    background-color: orange !important;
}