.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('./../../assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
        height: auto;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.player-card {
    right: 25px;
    transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-15deg);
}

.pick-card {
    transition: all 150ms ease-in-out;
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-15deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-15deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom {
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 32px;
}